@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
:root {
  color-scheme: dark;
}

html {
  color: white;
  font-size: 25px;
  font-family: "Architects Daughter", cursive;
}

body {
  margin: 0;
}

.bg {
  position: fixed;
  width: 100lvw;
  height: 100lvh;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, rgb(189 119 133), rgb(114 89 255));
  z-index: -1;
}

.container {
  max-width: 56rem;
  margin: 0 auto;
  padding: 1rem;
}

.container-xs {
  max-width: 32rem;
  margin: 0 auto;
  padding: 1rem;
}

.links-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 2rem 1rem;
}

.profile, .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 100%;
}

.profile-picture {
  width: 5rem;
  border-radius: 100%;
}

.link {
  display: block;
  text-align: center;
  width: 100%;
  border: 2px solid white;
  padding: 0.5rem;
  transition:
    box-shadow 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    border-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    transform 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s,
    background-color 0.25s cubic-bezier(0.08, 0.59, 0.29, 0.99) 0s;
  color: white;
  text-decoration: none;
}

.link:hover {
  background: white;
  color: rgb(105, 79, 246);
}

a {
  color: #ffd700; /* Gold for good contrast against purple */
  font-weight: bold;
  text-decoration: underline;
}

a:hover {
  color: #ffa500; /* Orange for a distinct hover effect */
}

.markdown-body {
  code {
    background-color: hsla(0, 0%, 10%, 0.697);
  }
  pre code {
    display: block;
    padding: 0.5rem;
  }

  table {
    font-size: inherit;
    border-collapse: collapse;

    td, th {
      padding: 0.5rem;
      border: 1px solid #4f4556;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 1rem;
    border-left: 0.25rem solid currentColor;
    color: hsl(0deg 0% 100% / 76%);
  }

  .task-list-item {
    list-style-type: none;

    input[type="checkbox"] {
      margin-left: -1.4em;
    }
  }
}
